
{%  extends 'blog/base.html' %}
{% block title %}Home {% endblock %}

{% block body %}


{% include 'blog/nav_bar.html' %}
<div class="jumbotron" style="background-image: url('{% static  "blog/images/index.jpg" %}') ">
    <div class="container" style="height :500px;">

  <h1 style="margin-top:200px;color:white">Hello, world!</h1>
  <p style="color:white;">Sample test blog</p>
</div>
    </div>
{% for post in object_list %}
<hr>
                <div class="post-preview" style="text-align:center">
                    <a href="{{ post.id }}">
                        <img src="/media/{{ post.img }}" height="200px" width="300px">
                        <h2 class="post-title">
                            {{ post.title }}</h2>
                        <h6 class="post-subtitle">
                            {{ post.content }}
                        </h6>


                    </a>
                </div>
                <hr>

<hr>
{% endfor %}
<a href="https://www.facebook.com" class="fa fa-facebook"></a>
<a href="https://www.google.com" class="fa fa-google"></a>
<a href="https://www.instagram.com" class="fa fa-instagram"></a>
<h5>Copyright © rahulk</h5>
{% endblock %}