<div id="div1">

    <div id="div2">
        <form method="post" action="" role="login">
				<img src="logo.png" alt="" class="img-responsive" />
<br>
				<div class="form-group">
					<input type="username" name="username" required class="form-control" placeholder="Enter username" />
				</div>

				<div class="form-group">
					<input type="password" name="password" required class="form-control" placeholder="Enter password" />
				</div>

				<button type="submit" name="go" class="btn btn-primary btn-block">Login Now</button>
            <a href="blog/login/createacc">	<button type="button" name="go" class="btn btn-primary btn-block">Create an account</button></a>
			</form>
    </div>
 </div>
