<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/blog" style="color:#420505;">Blog</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/blog" style="color:#420505;">Home</a></li>
      <li><a href="login/" style="color:#420505;">Login</a></li>
      <li><a href="index.html" style="color:#420505;">About</a></li>
    </ul>
  </div>
</nav>

</body>
</html>


