<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/blog" style="color:#ffffff;">Blog</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/blog" style="color:#ffffff;">Home</a></li>

         {% if user.is_authenticated %}
             <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #ffffff" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/blog/newpost">New Post</a></li>
            <li><a href="/blog/drafts/">Drafts</a></li>
            <li role="separator" class="divider"></li>
              <li><a href="/blog/myprofile">My profile</a></li>

            <li><a href="/accounts/logout">logout</a></li>
             {% else %}
      <li><a href="/accounts/login" style="color:#ffffff;">Login</a></li>
          {% endif %}



          </ul>
        </li>
      </ul>
    </ul>
  </div>
</nav>

</body>
</html>


