{% extends 'blog/base.html' %}

{% block title %}Post {% endblock %}

{% block body %}


{% include 'blog/nav_bar.html' %}
<div class="jumbotron" style="background-image: url('/media/{{ post.img }}')">
    <div class="container" style="height :500px;">

  <h1 style="margin-top:200px;color:white;">{{ post.title  }}</h1>


</div>
    </div>
<h4 class="para">
 {{ post.content }}
    <br>
    <br>
    Posted by {{ post.user }} date:{{ post.date }}
</h4>


<h3>Comments</h3>
{% for i in comm %}
<h7>{{ i.date }}  by {{ i.user }}</h7>
<h6>{{ i.comment_text }}</h6>
 {% endfor %}



<a href="https://www.facebook.com" class="fa fa-facebook"></a>
<a href="https://www.google.com" class="fa fa-google"></a>
<a href="https://www.instagram.com" class="fa fa-instagram"></a>
<h5>Copyright © rahulk</h5>

{% endblock %}
