{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Post</title>
     <link rel="stylesheet" href="{% static "blog/css/post.css" %}" type="text/css">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="bs.html" style="color:#bbbbbb;">Blog</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="bs.html" style="color:#bbbbbb;">Home</a></li>
      <li><a href="form.html" style="color:#bbbbbb;">Login</a></li>
      <li><a href="index.html" style="color:#bbbbbb;">About</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron" style="background-image: url('/media/{{ post.img }}')">
    <div class="container" style="height :500px;">

  <h1 style="margin-top:200px;color:white;">{{ post.title  }}</h1>


</div>
    </div>
<h4 class="para">
 {{ post.content }}
    <br>
    <br>
    Posted by {{ post.user }} date:{{ post.date }}
</h4>


<h3>Comments</h3>
{% for i in comm %}
<h7>{{ i.date }}  by {{ i.user }}</h7>
<h6>{{ i.comment_text }}</h6>
 {% endfor %}



<a href="https://www.facebook.com" class="fa fa-facebook"></a>
<a href="https://www.google.com" class="fa fa-google"></a>
<a href="https://www.instagram.com" class="fa fa-instagram"></a>
<h5>Copyright © rahulk</h5>

</body>
</html>